<tr>
  <td class="mid_align"><%= test.title %></td>
  <td class="mid_align"><%= test.level %></td>
  <td class="mid_align"><%= test.category.title %></td>
  <td class="mid_align"><%= test.questions.count %></td>
  <td class="mid_align"><%= button_to t('tests.index.start'), start_test_path(test) %></td>
</tr>
