<h1><%= t('tests.index.header') %></h1><br>
<table>
  <tr>
    <th><%= t('admin.tests.show.title') %></th>
    <th><%= t('admin.tests.show.level') %></th>
    <th><%= t('admin.tests.show.category') %></th>
    <th><%= t('admin.tests.show.question quantity') %></th>
    <th><%= t('admin.tests.index.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
