<h3 class="text-center"><%= t('tests.index.header') %></h3>
<table class="table">
  <tr>
    <th class="sort-by-title pointer"><%= t('admin.tests.show.title') %>
      <%= octicon "arrow-up", class: 'text-success hide' %>
      <%= octicon "arrow-down", class: 'text-success hide' %>
    </th>
    <th class="text-center"><%= t('admin.tests.show.level') %></th>
    <th class="text-center"><%= t('admin.tests.show.category') %></th>
    <th class="text-center"><%= t('admin.tests.show.question quantity') %></th>
    <th class="text-center"><%= t('admin.tests.show.duration') %></th>
    <th class="text-center"><%= t('admin.tests.index.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
