<h2><%= t('tests.index.header') %></h2>
<table class="table table-hover mt-3">
  <tr>
    <th><%= t('admin.tests.show.title') %></th>
    <th class="text-center"><%= t('admin.tests.show.level') %></th>
    <th class="text-center"><%= t('admin.tests.show.category') %></th>
    <th class="text-center"><%= t('admin.tests.show.question quantity') %></th>
    <th class="text-center"><%= t('admin.tests.index.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
