<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'shared/header' %>
  <% if user_signed_in? %>
    <p class="nav user">Welcome, <strong><%= current_user.login %></strong>  Guru! :::
      <%= link_to 'Logout',  destroy_user_session_path, method: :delete, class: 'link' %> </p>
  <% end %>

    <div class="wrapper">
      <div class="content">
         <%= flash_header %>
        <%= yield %>
      </div>
      <div class="footer">
        <%= render 'shared/footer' %>
      </div>
  </div>
  </body>
</html>
