<%= form_with model: [:admin, @test], local:true  do |form|  %>
<%= render 'shared/errors', resource: @test %>
  <p style="padding: 10px">
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :test_title %>
  </p>

  <p style="padding: 10px">
    <%= form.label :level %><br>
    <%= form.number_field :level, id: :test_level %>
  </p>

  <p style="padding: 10px">
    <%= form.label :category_id %>:
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: I18n.t('selector') %>
  </p>

  <p style="padding: 10px">
    <%= form.label :author_id %>:
    <% if @test.persisted? %>
      <%= form.collection_select :author_id, User.all, :id, :first_name, prompt: true %>
    <% else %>
      <%= form.collection_select :author_id, User.all, :id, :first_name, prompt: true, :selected => current_user.id %>
    <% end %>
  </p><br>
<%= form.submit class:'btn btn-outline-secondary' %>
<% end %>
