<tr>
  <td class="mid_align"><%= test.title %></td>
  <td class="mid_align"><%= test.level %></td>
  <td class="mid_align"><%= test.category.title %></td>
  <td class="mid_align"><%= test.questions.count %></td>
  <td><%= link_to t('actions.show'), admin_test_path(test), class: 'btn btn-outline-secondary' %></td>
  <td><%= link_to t('actions.edit'), edit_admin_test_path(test), class: 'btn btn-outline-secondary' %></td>
  <td>
    <%= link_to t('actions.delete'),
                admin_test_path(test),
                method: :delete,
                data: {confirm: 'Are you sure?'}, class: 'btn btn-outline-secondary' %>
  </td>
</tr>
