<h1> <%= t('.header') %></h1><br>

<p>
  <%= link_to t('admin.tests.new.header'), new_admin_test_path, class: 'button' %>
</p>

<table>
  <tr>
    <th><%= t('admin.tests.show.title') %></th>
    <th><%= t('admin.tests.show.level') %></th>
    <th><%= t('admin.tests.show.category') %></th>
    <th><%= t('admin.tests.show.question quantity') %></th>
  <th colspan="4"><%= t('.actions') %></th>

  </tr>
  <%= render @tests %>
</table>
