<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.question quantity') %></th>
    <th><%= t('.question') %></th>
  </tr>
  <tr>
      <td><%= @test.title %></td>
      <td class="mid_align"><%= @test.level %></td>
      <td><%= @test.category.title %></td>
      <td class="mid_align"><%= @test.questions.count %></td>
      <td><% @test.questions.each do |question| %>
          <p><li style="line-height: 200%"> <%= question.body  %> &nbsp;   <%= link_to t('actions.show'), admin_question_path(question) %> ::: <%= link_to t('actions.edit'), edit_admin_question_path(question) %> :::
          <%= link_to t('actions.delete'),
                      admin_question_path(question),
                      method: :delete,
                      data: {confirm: 'Are you sure?'} %></li></p>
        <% end %></td>
  </tr>
</table>
<%= link_to t('actions.edit'), edit_admin_test_path(@test), class: 'button' %>
<%= link_to t('actions.back'), admin_tests_path, class: 'button' %>
<%= link_to t('.add question'), new_admin_test_question_path(@test), class: 'button' %>
