<nav class="top-menu">
  <%=image_tag "/test_logo.png", height: '100', width: '150'%>
  <ul class="menu-main">
    <li><a>
      <% if current_user.is_a?(Admin) %>
        <%=link_to "testguru", admin_tests_path, rel: "nofollow"%>
      <% else %>
        <%=link_to "testguru", root_path, rel: "nofollow"%>
      <% end %>
        </a>
    </li> :::

    <li><a><%=link_to "login",  new_user_session_path, rel: "nofollow" %></a></li> :::
    <li><a><%=link_to "register", new_user_registration_path , rel: "nofollow"%></a></li>
  </ul>
</nav>
