<nav class="navbar navbar-expand-lg navbar-light bg-user">
  <%=link_to image_tag("/test_logo.png", height: '100', width: '150'), root_path, class:"navbar-brand"%>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav font-weight-bolder text-uppercase h5">
      <% if user_signed_in? %>
        <% if current_user.admin?%>
          <%= octicon "home", height: 24, class: "mt-2" %> <%=link_to t('nav-home'), admin_tests_path, rel: "nofollow", class:"nav-item nav-link"%>
          <% else %>
          <%= octicon "home", height: 24, class: "mt-2" %> <%=link_to t('nav-home'), root_path, rel: "nofollow", class:"nav-item nav-link"%>
          <% end %>
      <% else %>
        <%= octicon "home",  height: 24, class: "mt-2" %> <%=link_to t('nav-home'), root_path, rel: "nofollow", class:"nav-item nav-link" %>
      <% end %>
     <%= octicon "sign-in", height: 24, class: "mt-2"  %> <%=link_to t('nav-login'),  new_user_session_path, rel: "nofollow", class: "nav-item nav-link" %>
      <%= octicon "person", height: 24, class: "mt-2"  %> <%=link_to t('nav-register'), new_user_registration_path , rel: "nofollow", class: "nav-item nav-link"%>
      <%= octicon "mail-read", height: 24, class: "mt-2"  %> <%=link_to t('nav-mail'), new_contact_path , rel: "nofollow", class: "nav-item nav-link"%>
    </div>
  </div>
  <span class="navbar-text font-weight-bolder rounded-lg h6">
    <% if user_signed_in? %>
      <%= t('hello', name: current_user.login) %> <%= octicon "sign-out", height: 24, class: 'pl-1' %>
      <%= link_to t('actions.logout'),  destroy_user_session_path, method: :delete, class: 'link text-decoration-none' %>
     <br><%= octicon "verified", height: 24, class: 'pl-1' %> <%= link_to t('actions.badge-progress'), badges_path, class: 'link text-decoration-none text-lowercase text-dark' %>
    <% end %>
  </span>
</nav>
