<h2><%= @question.test.title %> question </h2><br>
<p class="h4">Что вы можете рассказать о <%= @question.body %> ?</p>
<table>
  <tr class="h6">
    <td><strong>Test's title: </strong><%= @question.test.title  %></td>
    <td><strong>Question: </strong><%= @question.body %></td>
  </tr>
</table>
<h3>Answers</h3>
<%= link_to 'New answer', new_admin_question_answer_path(@question) %>
<ol>
  <%= render @question.answers %>
</ol><br>

<%= link_to t('actions.back'), admin_test_path(@question.test), class: 'btn btn-outline-secondary' %>
