<h2><%= t('.header', test: @test_passage.test.title) %> </h2>
<%= content_tag :h5,t('test_passages.show.counter-end', current_question: @test_passage.all_questions, all_questions: @test_passage.all_questions)%>
<%=t('test_passages.show.progress-bar') %>
<div class="progress" style="height: 40px;">
  <div class="progress-bar bg-warning font-weight-bolder text-body" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
</div>

<br> <h3><%= t('.message', user: current_user.login, count: @test_passage.correct_questions) %> </h3>
<br>
<% if @test_passage.success?%>
  <h3 style='color: #b70000;'><%= t('.fail', result:@test_passage.percentage_result)%> </h3>
  <% else %>
  <h3 style='color: green;'><%= t('.success', result:@test_passage.percentage_result)%></h3>
 <% end %><br>
<%= link_to t('.back to tests'), tests_path, class: 'button' %>
