<h2><%= t('.header', test: @test_passage.test.title) %> </h2>

<br> <h3><%= t('.message', user: current_user.login, count: @test_passage.correct_questions) %> </h3>
<br>
<% if @test_passage.success?%>
  <h3 style='color: #b70000;'><%= t('.fail', result:@test_passage.percentage_result)%> </h3>
  <% else %>
  <h3 style='color: green;'><%= t('.success', result:@test_passage.percentage_result)%></h3>
 <% end %><br>
<%= link_to t('.back to tests'), tests_path, class: 'button' %>
